{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shipblog.html' %}

{% block body %}


<form class="form-control" action="ship_view_accept_reject_booking" method="get">
</form>
<table class="table table-bordered" width="464" height="189" border="1">
  <tr>
    <th scope="row">S/no</th>
    <th>Date</th>
    <th>Name</th>
    <th>Head count</th>
    <th><p>Status</p></th>
    <th>&nbsp;</th>
    <td>&nbsp;  </td>
  </tr>
    {% for i in data %}



  <tr>
    <th width="50px">{{ loop.index }}</th>
    <td>{{ i['date'] }}</td>
    <td>&nbsp;{{ i['name'] }}</td>
    <td>{{ i['no_user'] }}</td>
    <td>{{ i['status'] }}&nbsp;</td>
    <td width="50px"><a class="btn btn-info" href="/ship_accept_booking/{{ i['booking_id'] }}" onclick="return confirm('are you sure?')">accept</a></td>
    <td width="50px"><a class="btn btn-danger" href="/ship_reject_booking/{{ i['booking_id'] }}" onclick="return confirm('are you sure?')">reject</a></td>
  </tr>
    {% endfor %}
</table>
{#</body>#}
{#</html>#}
{% endblock %}