<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/ship_allocate_room" method="post">
  <table width="501" height="298" border="1">
    <tr>
      <th colspan="2" scope="row"><p>allocate room</p></th>
    </tr>
    <tr>
      <th height="67" scope="row">room</th>
      <th><select name="select" id="select">
           {% for i in data1 %}
                       <option value="{{ i['room_id'] }}">{{ i['room_no'] }}</option>

           {% endfor %}
      </select></th>
    </tr>
    <tr>
      <th>user</th>
      <th>
          <select name="select2" id="select2">

       {% for i in data2 %}
                       <option value="{{ i['login_id'] }}">{{ i['name'] }}-{{ i['email'] }}</option>

           {% endfor %}</select></th>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="submit" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
</body>
</html>
