{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shipblog.html' %}

{% block body %}

<form class="form-control" id="form1" name="form1" method="post" action="/ship_edit_work_management_post">


    <input class="form-control" type="hidden" name="wid" value="{{ data['work_id'] }}"/>

  <table class="table table-bordered" width="517" height="317" border="1">
    <tr>
      <th colspan="2" scope="row">Edit work management</th>
    </tr>
    <tr>
      <th scope="row">Work</th>
      <td><label>
        <input class="form-control" type="text" name="textfield" id="textfield" value="{{ data['work'] }}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><label>
        <input class="form-control" type="date" name="textfield2" id="textfield2" value="{{ data['date'] }}" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input class="btn btn-info" type="submit" name="button" id="button" value="edit" /></th>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}