{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shipblog.html' %}

{% block body %}
<form class="form-control" action="" method="get">
    <table class="table table-bordered" width="595" height="256" border="1">
  <tr>
    <th scope="row">S_no</th>
    <th> <div align="center">Username </div></th>
    <th><div align="center">Work</div></th>
    <th><div align="center">Date</div></th>
    <th><div align="center">Activities</div></th>
    </tr>
    {% for i in data %}




  <tr>
    <th scope="row">{{ loop.index }}&nbsp;</th>
    <td>{{ i['name'] }}</td>
    <td>{{ i['work'] }}</td>
    <td>{{ i['date'] }}</td>
    <td>{{ i['activities'] }}</td>
    </tr>
    {% endfor %}
</table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}
