{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'aindex.html' %}

{% block body %}

<form class="form-control" action="/admin_edit_ship_post" method="post" enctype="multipart/form-data">
    <table class="table table-bordered" width="578" height="402" border="1">
  <tr>
    <th colspan="2" scope="row">Ship Edit</th>
    </tr>
  <tr>
    <th width="192" scope="row">Ship name</th>
    <td width="370"><label>
      <input class="form-control" type="text" name="textfield2" id="textfield2" value="{{ data['ship_name'] }}" />
      </label>
    <input class="form-control" type="hidden" name="sid" value="{{ data['ship_id'] }}" ></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td><label>
      <textarea class="form-control" name="textarea" id="textarea" cols="45" rows="5"  >{{ data['discription'] }}</textarea>
    </label></td>
  </tr>
  <tr>
    <th scope="row">Photo</th>
    <td><label>
      <input class="form-control" type="file" name="fileField" id="fileField" /><img src="{{ data['photo'] }}"height="50px" width="50px">
    </label></td>
  </tr>
  <tr>
    <th scope="row">Capacity</th>
    <td><label>
      <input class="form-control" type="text" name="textfield3" id="textfield3" value="{{ data['capacity'] }}" />
    </label></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input class="btn btn-warning" type="submit" name="button" id="button" value="EDIT" /></th>
    </tr>
</table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}