{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'aindex.html' %}

{% block body %}

<form class="form-control" id="form1" name="form1" method="post" action="/edit_journey_post">
<input class="form-control" type="hidden" name="j_id" id="j_id" value="{{ data['journey_id'] }}">
  <table class="table table-bordered" width="624" height="493" border="1">
    <tr>
      <th colspan="2" scope="row">manage journey</th>
    </tr>
    <tr>
      <th width="175" scope="row">ship</th>
      <td width="357">
          <select class="form-control" name="select">
            {% for i in data1 %}
            <option value="{{ i['ship_id'] }}" {% if i['ship_id']==data['ship_id'] %} selected{% endif %}> {{ i['ship_name'] }}
            </option>
            {% endfor %}


        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">departure</th>
      <td><label>
        <input class="form-control" type="text" name="textfield2" id="textfield2" value="{{ data['start_port'] }}" />

      </label></td>
    </tr>
    <tr>
      <th scope="row">arrival</th>
      <td><label>
        <input class="form-control" type="text" name="textfield3" id="textfield3" value="{{ data['end_port'] }}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">start date</th>
      <td><label>
        <input class="form-control" type="date" name="textfield4" id="textfield4" value="{{ data['start_date'] }}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">end date</th>
      <td><label>
        <input class="form-control" type="date" name="textfield5" id="textfield5" value="{{ data['end_date'] }}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">status</th>
      <td><input type="text" name="textfield6" id="textfield6" value="{{data['status']  }}" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input class="btn btn-warning" type="submit" name="button" id="button" value="Update" /></th>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}
