{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'aindex.html' %}

{% block body %}
<form class="form-control" action="" method="get"><table class="table table-bordered" width="614" height="227" border="1">
  <tr>

    <th scope="row">S_no</th>
    <td>date</td>
    <td>sender details</td>
    <td>complaint</td>
    <td>reply</td>
    <td>status</td>
      <td>ul_id</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a class="btn btn-primary" href="#">reply</a></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}